@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="Students" asp-action="Index" class="btn btn-primary">Acceder a aplicación Registro de Estudiantes</a>.</p>
</div>
