@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p><a asp-controller="Students" asp-action="Index">Acceder a aplicación Registro de Estudiantes</a>.</p>
</div>
